.title {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0;
}

.selected {
  background-color: var(--color-darkGrey);
  color: white;
  padding: 0.2em;
}

.message {
  font-size: 18px;
}

.image {
  width: 384px;
  /* background: linear-gradient(to top left, red, blue); */
  transform: rotate(-7deg);
  background-color: #444;
  border: 32px solid rgb(44, 255, 139);
  padding: 64px 32px 24px 8px;
}
