main {
  padding: 32px;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.App {
  background-color: rgb(255 255 220);

  /* background-image: linear-gradient(to top, orange, rgb(255, 255, 220) 13%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
