/* stylelint-disable */

* {
  color: var(--font-color);
}

:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #00b85f;
  --color-lightGrey: #ffffe9;
  --color-grey: #c5c9a4;
  --color-darkGrey: #555;
  --color-error: #ff2424;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, 'Consolas', 'Lucida Console', monospace;
}

main {
  overflow: hidden;
}

.is-transparent {
  background: transparent;
}

.button {
  border-radius: 0;
}

.card {
  border-radius: 0;
  border: 2px solid var(--color-darkGrey);
  border-left: 2px solid var(--color-darkGrey);
  box-shadow: 20px 20px 0px 2px var(--color-darkGrey);
  -webkit-box-shadow: 20px 20px 0px 2px var(--color-darkGrey);
  -moz-box-shadow: 20px 20px 0px 2px var(--color-darkGrey);
}

input,
textarea {
  border: 2px solid var(--color-grey) !important;
  border-radius: 0 !important;
}

.card footer {
  margin-top: 24px;
  padding: 16px 0;
}

.card footer * {
  margin-left: 16px;
}

.card.page {
  width: 40vw;
}

main .card.is-transparent {
  padding: 32px;
  /* width: 95%; */
}

.popup {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 100%;
}

.popup img {
  top: 50%;
  left: 50%;
  position: relative;
  z-index: 11;
  transform: translateX(-50%);
  transform: translateY(-50%);
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-darkGrey);
  font-weight: 600;
  /* font-family: 'Pixel square'; */
}
